@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&family=Manrope:wght@200..800&display=swap");

::placeholder {
  color: #4f7396;
}

body {
  background: #f7fafc;
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

header {
  background: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #e0e0e0;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content > *:first-child {
  margin-right: 16px;
}

h3 {
  font-weight: 800;
}

h1 {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  margin: 20px 0 10px;
}

h4 {
  text-align: center;
  color: #4f7396;
  font-weight: 400;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.button-color {
  background: #1a80e5;
  color: #fff;
}

.secondary-button {
  background: #e8edf2;
  color: #0d141c;
}

main {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 512px;
  margin: 20px;
  border-radius: 8px;
}

.form-content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-content > *:first-child {
  margin-right: 10px;
}

input {
  width: 70%;
  height: 54px;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  background: #e8edf2;
  border: none;
  box-sizing: border-box;
}

.input-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M29.25 6.76a6 6 0 0 0-8.5 0l1.42 1.42a4 4 0 1 1 5.67 5.67l-8 8a4 4 0 1 1-5.67-5.66l1.41-1.42l-1.41-1.42l-1.42 1.42a6 6 0 0 0 0 8.5A6 6 0 0 0 17 25a6 6 0 0 0 4.27-1.76l8-8a6 6 0 0 0-.02-8.48'/%3E%3Cpath fill='%23000' d='M4.19 24.82a4 4 0 0 1 0-5.67l8-8a4 4 0 0 1 5.67 0A3.94 3.94 0 0 1 19 14a4 4 0 0 1-1.17 2.85L15.71 19l1.42 1.42l2.12-2.12a6 6 0 0 0-8.51-8.51l-8 8a6 6 0 0 0 0 8.51A6 6 0 0 0 7 28a6.07 6.07 0 0 0 4.28-1.76l-1.42-1.42a4 4 0 0 1-5.67 0'/%3E%3C/svg%3E");
  background-position: 15px center;
  background-repeat: no-repeat;
  width: 100%;
  padding-left: 50px;
}

.form-content button {
  height: 50px;
}

#button-refresh {
  transition: transform 1s ease-in-out;
}

.form-content h3 {
  margin: 10px 0;
}

.example-text {
  font-size: 14px;
  color: #4f7396;
}

p {
  margin: 0;
}

@media screen and (max-width: 550px) {
  form {
    width: 350px;
  }
}

@media screen and (max-width: 350px) {
  header {
    padding: 0 10px;
  }

  .header-content > *:first-child {
    margin-right: 8px;
  }

  form {
    width: 280px;
  }
}
